<div class="twelve wide column">
	<div class="ui card fluid">
		<div class="content" id="messages">
			<div class="ui feed" >
			  <div class="event">
			    <div class="label">
			      <img src="/images/avatar/small/elliot.jpg">
			    </div>
			    <div class="content" id="message-container">
			    	<%= render @messages %>
			    </div>
			  </div>
			</div>
		</div>
		<div class="extra content">
			<%= form_with(model: @message, url: message_path, class: "ui reply form", remote: true) do |f| %>
		    <div class="field">
		      <div class="ui icon fluid input">
		      <%= f.text_field :body, placeholder: "Enter a message..." %>
		      <%= f.button '<i class="icon brown edit bordered"></i>'.html_safe %>
		    	</div>
		    </div>
		  <% end %>
		</div>	
	</div>
</div>