<h3 class="ui center aligned icon header medium">
  <i class="circular coffee icon brown"></i>
  Chat me
</h3>
<div class="ui grid two column">

	<%= render 'chatroom/chat' %>

	<%= render 'chatroom/sidemenu' %>

</div>